:root {
  --clr-head: #33449c;
  --clr-orange: #fcb040;
  --clr-orange-hover: #c27b11;
  --clr-blue: #33449c;
  --clr-white: #ffffff;
  --clr-bg: #f2f4f8;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background: var(--clr-bg);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--clr-head);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
header .logo img {
  width: 75px;
}
header .navbar ul {
  list-style: none;
}
header .navbar ul li {
  position: relative;
  float: left;
}
header .navbar ul li a {
  font-family: Playwrite DE Grund;
  font-size: 16px;
  padding: 30px 20px;
  color: var(--clr-white);
  display: block;
  text-decoration: none;
}
header .navbar ul li a:hover {
  display: block;
  background-color: orange;
  color: var(--clr-white);
}

header button {
  background-color: var(--clr-orange);
  padding: 12px 24px;
  border: none;
  border-radius: 7px;
  color: var(--clr-white);
  cursor: pointer;
  transition: 0.3s;
}
header button:hover {
  background: var(--clr-orange-hover);
  color: var(--clr-white);
}

#menu-bar {
  display: none;
}
header label {
  cursor: pointer;
  display: none;
  color: var(--clr-white);
}

/* drop */
header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background-color: var(--clr-head);
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header .navbar ul li ul li {
  width: 100%;
}
header .navbar ul li ul li a {
  padding: 10px;
  font-size: 14px;
}

header .navbar ul li:focus > ul,
header .navbar ul li:hover > ul {
  display: initial;
}

/* ------------------------------Responsive------------------------------------------- */
@media (max-width: 991px) {
  header {
    padding: 5px 30px;
  }
  header .logo img {
    display: flex;
    align-items: center;
    width: 60px;
  }
  header label {
    display: initial;
  }
  header label i {
    font-size: 26px;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--clr-head);
    display: none;
  }
  header .navbar ul li a {
    font-size: 18px;
    padding: 20px 20px;
    color: var(--clr-white);
    display: block;
    text-decoration: none;
  }
  header .navbar ul li {
    width: 100%;
  }
  header .navbar ul li ul {
    position: relative;
    width: 100%;
    background-color: red;
  }
  header .navbar ul li a,
  header .navbar ul li ul a {
    font-size: 14px;
    padding: 15px 50px;
  }

  header .navbar ul li ul li {
    background-color: var(--clr-head);
  }
  header .navbar ul li ul li a {
    padding-left: 120px;
  }
  #menu-bar:checked ~ .navbar {
    display: initial;
    color: var(--clr-white);
  }
  header button {
    display: none;
  }
}

/* ---------------------------------------------------------------------------------------------- */

/* footerstyle */
footer {
  background-color: var(--clr-head);
  color: var(--clr-white);
  padding: 16px 7%;
  position: relative;
  bottom: 0px;
  z-index: 0px;
}
.footer-content {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-content .social-label {
  width: 300px;
}
.islogo {
  width: 20%;
}

.md {
  display: flex;
  gap: 15px;
}
.md a {
  font-size: 24px;
  background-color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
}
.md a:hover {
  transform: scale(1.05);
}
.fa-facebook {
  color: blue;
}

.fa-tiktok {
  color: black;
}
.fa-youtube {
  color: red;
}
.fa-telegram {
  color: #24a1de;
}
.discrip {
  padding: 10px 0;
}

.discrip span {
  color: var(--clr-light);
  font-weight: bold;
}
.head-footer label {
  font-weight: bold;
  font-size: 24px;
}
.head-footer .about-content {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
h6 {
  font-size: 16px;
}
.head-footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.head-footer ul li {
  padding: 10px;
}
.head-footer ul li a {
  font-size: 14px;
  text-decoration: none;
  color: var(--clr-white);
}
.head-footer ul li a:hover {
  color: var(--clr-orange);
}
.img-map img {
  width: 100%;
}

@media (max-width: 900px) {
  .footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(20px + 2%);
  }
}
@media (max-width: 600px) {
  footer {
    padding: 20px 4%;
  }
  .footer-content .social-label {
    width: 100%;
  }
  .footer-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* -------------------------------------inside--------------------------------------------- */
/* mian */
main {
  padding-top: 80px;
}

/* slider_style */
.group-img-slider {
  width: 100%;
  height: 90vh;
}
.img-slider {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  display: none;
}

.blog_top_cate {
  padding: 50px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.card {
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s;
}
.card:hover img {
  transition: transform 0.3s;
  transform: scale(1.3);
  padding: 0;
}
.card:hover .name-phone {
  color: var(--clr-orange);
}
.card:hover .blog_card {
  border: 1px solid var(--clr-orange);
}

.card .blog_card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .blog_card img {
  width: 70%;
}
.card .name-phone {
  color: var(--clr-head);
  font-size: 14px;
  padding: 10px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog_card {
  border: 1px solid var(--clr-head);
  border-radius: 7px;
  width: 150px;
  height: 150px;
  padding: 5px;
  cursor: pointer;
}

/* -----------------------------------------------------Responsive----------------------------------------------------------------- */

/* Tablet */
@media (max-width: 900px) {
  main {
    padding-top: 60px;
  }
  .img-slider {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: none;
  }
}

/* MobilePhone */
@media (max-width: 600px) {
  main {
    padding-top: 60px;
  }
  .group-img-slider {
    width: 100%;
    height: 30vh;
  }
  .img-slider {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: none;
  }

  .card {
    text-decoration: none;
  }
  .blog_top_cate {
    overflow-x: auto;
    align-items: center;
  }
  .blog_top_cate {
    padding-left: 120px;
  }
  .blog_top_cate .blog_card {
    border: 1px solid var(--clr-head);
    border-radius: 7px;
    width: 70px;
    height: 70px;
    cursor: pointer;
  }

  .card .name-phone {
    font-size: 10px;
  }
}

/* ---------------------------------------BLog_Product-------------------------------------------- */

.name_group-product h2 {
  border-bottom: 5px solid red;
}
.group-item {
  padding: 0 100px;
}
.group-item-pro {
  padding: 20px;
  /* display: flex;
  gap: 30px;
  justify-content: center; */
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.cards {
  position: relative;
  padding: 20px;
  /* width: 20%; */
  height: 50vh;
  /* border: 2px solid var(--clr-head); */
  background: white;
  border-bottom: 2px solid var(--clr-head);
  transition: transform 0.3s;
  cursor: pointer;
  border-radius: 20% 2%;
}
.cards:hover {
  transition: transform 0.3s;
  /* border-radius: 2% 20%; */
  background-image: linear-gradient(to bottom, var(--clr-head), white, white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards img {
  width: 190px;
}
.cards:hover img {
  transition: transform 0.3s;
  transform: scale(1.1);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.cards .blog-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cards .blog-title .name-pro {
  display: flex;
  align-item: center;
  justify-content: center;
}
.cards:hover .blog-title .name-pro {
  font-weight: bold;
}
.cards .blog-title .name-pro span {
  padding-left: 16px;
}

.price {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.price .dis-price {
  text-decoration: line-through;
  color: gray;
}
.cards:hover .price .dis-price {
  color: red;
}

.line {
  margin-left: 70px;
  margin-top: -10px;
}

.plus_free {
  position: absolute;
  top: 0px;
  right: 0;
}

.blog_plus {
  background: var(--clr-orange);
  padding: 7px;
  border-radius: 0 0 0 20px;
}
.blog_plus label {
  font-size: 12px;
  color: var(--clr-white);
}
.btn_order {
  display: flex;
  justify-content: center;
}
.btn_order button {
  background: var(--clr-head);
  padding: 10px 60px;
  color: var(--clr-white);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.btn_order button:hover {
  background: var(--clr-orange);
  transition: all 0.5s;
  padding: 12px 65px;
}

@media (max-width: 900px) {
  .group-item {
    padding: 0 50px;
  }
  .group-item-pro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(20px + 2%);
  }
}
@media (max-width: 600px) {
  .group-item {
    padding: 0 10px;
  }
  .group-item-pro {
    align-items: center;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cards {
  }
}
