:root {
  --clr-head: #33449c;
  --clr-orange: #fcb040;
  --clr-orange-hover: #c27b11;
  --clr-blue: #33449c;
  --clr-white: #ffffff;
  --clr-bg: #f2f4f8;
}

.img-front {
  margin-top: 80px;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background: var(--clr-bg);
  width: 100%;
}
/* -------------------------------------inside--------------------------------------------- */
/* mian */
main {
  padding: 80px;
}
.img-front img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

/* card */
.blog-card {
  padding: 30px;
  display: flex;
  gap: 12px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
