<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/header-footerstyle.css" />

    <title>Document</title>
  </head>
  <body>
    <footer>
      <div class="footer-content">
        <div class="social-label">
          <div>
            <img class="islogo" src="../img/mylogo.png" alt="" />
            <div>
              <p class="discrip">
                <span>QV STORE </span>ជាហាងដែលល្បីជាងគេនៅកម្ពុជា
              </p>
              <div class="md">
                <a
                  href="https://web.facebook.com/?_rdc=1&_rdr"
                  class="fa-brands fa-facebook"
                ></a>
                <a href="/" class="fa-brands fa-tiktok"></a>
                <a href="/" class="fa-brands fa-youtube"></a>
                <a
                  href="https://t.me/fasal_san"
                  class="fa-brands fa-telegram"
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="head-footer">
          <label for="">អំពីហាង</label>
          <div class="about-content">
            <h6>បើកលក់ (ចន្ទ័ ​- សៅរ៏ )</h6>
            <h6>បើកម៉ោង​​ <span>(8:00AM - 7:00PM)</span></h6>
          </div>
        </div>

        <div class="head-footer">
          <label for="">ផលិតផល</label>

          <ul>
            <li><a href="">Apple</a></li>
            <li><a href="">Sumsong</a></li>
            <li><a href="">Oppo</a></li>
            <li><a href="">Nokia</a></li>
            <li><a href="">LG</a></li>
          </ul>
        </div>

        <div>
          <div class="head-footer">
            <label for="">ទីតាំងហាង</label>
          </div>
          <div class="img-map">
            <img
              src="https://images.realestate.com.kh/listings/2023-08/map-110885_2gaswge.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
